@charset "utf-8";

body, div, ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.map-box {
	width: 481px;
	height: 509px;
	background-image: url('maps.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 10;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	.map-box {
		background-image: url('maps@2x.png');
	}
}

.map-points {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
}
.map-points li {
	position: absolute;
	top: 100px;
	left: 100px;
	cursor: pointer;
	font-size: 12px;
	color: #28a9e3;
}
.map-points li:before,
.map-points li:after {
	display: block;
	content: '';
	width: .83em;
	height: .83em;
	border: .58em solid;
	border-radius: 100% 100% 0;
	transition: transform .3s ease, left .3s ease;
}
.map-points li:before {
    border-color: rgba(0, 0, 0, .1);
    position: absolute;
    transform: rotateZ(90deg) rotateY(72deg);
    top: 1em;
    left: 1em;
    z-index: 0;
}
.map-points li:hover::before {
	left: 1.2em;
	transform: rotateZ(90deg) rotateY(72deg) scale(1.2);
}
.map-points li:after {
	background-color: rgba(255, 255, 255, .4);
	transform: rotateZ(45deg);
	box-shadow: -1px 0px 0 0px rgba(255,255,255,.5);
}
.map-points li:hover::after {
	transform: translateY(-.2em) rotateZ(45deg) scale(1.2);
}

.map-points.fadeIn li {
	animation: fadeIn .7s ease;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.map-points.fadeIn li:before {
	animation: shadowFadeIn 1s ease;
	animation-delay: inherit;
}
@keyframes shadowFadeIn {
	0% {
		opacity: 0;
		transform: rotateZ(90deg) rotateY(72deg) translateY(-50px);
	}
	100% {
		opacity: 1;
		transform: rotateZ(90deg) rotateY(72deg) translateY(0);
	}
}

.map-points.fadeOut li {
	animation: fadeOut .3s ease;
	animation-fill-mode: both;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}
.map-points.fadeOut li:before {
	animation: shadowFadeOut 400ms ease;
	animation-delay: inherit;
}
@keyframes shadowFadeOut {
	0% {
		opacity: 1;
		transform: rotateZ(90deg) rotateY(72deg) translateY(0);
	}
	100% {
		opacity: 0;
		transform: rotateZ(90deg) rotateY(72deg) translateY(-50px);
	}
}

